<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="responsive.css" rel="stylesheet" type="text/css">
    <title>Главная страница</title>
</head>

<body>

    <!-- All content -->
    <div class="page">

        <!-- Header -->
        <header>

            <!-- Header container with logo -->
            <div class="header__container">

                <!-- logo -->
                <div class="header__container_item logo">
                    <h1>Коровин Никита</h1>
                </div>

                <!-- application -->
                <div class="header__container_item application">
                    <span>
                        Оставить заявку на сайт
                    </span>
                    <svg width="28" height="28" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23.625 4.5H3.375C2.92745 4.5 2.49822 4.65804 2.18176 4.93934C1.86529 5.22064 1.6875 5.60218 1.6875 6V18C1.6875 18.3978 1.86529 18.7794 2.18176 19.0607C2.49822 19.342 2.92745 19.5 3.375 19.5H23.625C24.0726 19.5 24.5018 19.342 24.8182 19.0607C25.1347 18.7794 25.3125 18.3978 25.3125 18V6C25.3125 5.60218 25.1347 5.22064 24.8182 4.93934C24.5018 4.65804 24.0726 4.5 23.625 4.5ZM21.7687 6L13.5 11.085L5.23125 6H21.7687ZM3.375 18V6.6825L13.0191 12.615C13.1603 12.7021 13.3281 12.7488 13.5 12.7488C13.6719 12.7488 13.8397 12.7021 13.9809 12.615L23.625 6.6825V18H3.375Z"
                            fill="#FFFBFB" />
                    </svg>
                </div>

            </div>

            <!-- Header container with buttons -->
            <div class="header__container">
                <div class="header__container_item">
                    <!-- Button 1 -->
                    <div class="header__button">
                        <a>Обо мне</a>
                        <hr class="header__button_line">
                    </div>
                    <!-- Button 2 -->
                    <div class="header__button">
                        <a>Проекты</a>
                        <hr class="header__button_line">
                    </div>
                    <!-- Button 3 -->
                    <div class="header__button">
                        <a>Контакты</a>
                        <hr class="header__button_line">
                    </div>
                </div>
            </div>

        </header>

    </div>

    <!-- All scripts -->
    <script src="main.js"></script>
</body>

</html>