@media (max-width: 375px) {

    .logo {
        font-size: 12px;
    }

    .header__container_item {
        margin-right: 0;
        margin-left: 20px;
    }

}

@media (max-width: 500px) {

    .logo {
        font-size: 12px;
    }

    .header__container_item {
        margin-right: 0;
        margin-left: 20px;
    }

}

@media (max-width: 1000px) {

    .header__button {
        display: none;
    }

    .application {
        display: none;
    }

}