@media (max-width: 375px) {

    .logo {
        font-size: 12px;
    }

    .header__container_item {
        margin-right: 0;
        margin-left: 20px;
    }

    .first__container_item {
        justify-content: center;
        margin: 0;
    }

}

@media (max-width: 500px) {

    .logo {
        font-size: 12px;
    }

    .header__container_item {
        margin-right: 0;
        margin-left: 20px;
    }

}

@media (max-width: 1000px) {

    .header__button {
        display: none;
    }

    .application {
        display: none;
    }

}

@media (max-width: 1470px) {

    .main__container_item_text > h1 {
        font-size: 65px;
    }

    .main__container_item_text > .django_developer {
        font-size: 25px;
    }

    .first__container_item {
        margin-left: 10%;
    }

}